.projects {
    height: 100vh;
    overflow-y: auto;
}

.projectCard__wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    border-radius: 20px;
}

.projectCard__video {
    width: 100%;
    border-radius: 5px;
    border: 1px solid seagreen;
}

.projectCard__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.projectCard__context {
    color: lightgrey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark-theme .projectCard__context {
    color: rgb(100, 100, 100);
}

.projectCard__description {
    text-align: center;
    color: seagreen;
    margin-top: 5px;
    font-weight: 600;
}

.projects__navbar {
    display: flex;
    position: sticky;
    top: 0;
    overflow-x: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    z-index: 1;
    background-color: white;
    padding-bottom: 10px;
}

.projects__navbar::-webkit-scrollbar {
    display: none;
}

.dark-theme .projects__navbar {
    background-color: rgb(46, 46, 46);
}

.dark-theme .projects__navbar .sidebar__btn {
    color: rgb(100, 100, 100);
}

.projects__navbar .sidebar__btn:hover {
    color: black;
}

.dark-theme .projects__navbar .sidebar__btn:hover {
    color: whitesmoke;
}
