.resume-card__body {
    margin: 15px 25px;
    padding: 10px 15px;
    transition: all 0.5s;
    color: grey;
}

.resume-card__body:hover{
    box-shadow: 0 0 0.25vh 0.25vw lightgrey;
    border-radius: 5px;
}

.dark-theme .resume-card__body:hover {
    box-shadow: 0 0 0.25vh 0.25vw grey;
}

.resume-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: seagreen;
    text-align: center;
}

.resume-card__heading {
    font-weight: 700;
    color: seagreen;
    text-transform: uppercase;
}

.resume-card__body:hover .resume-card__heading {
    color: seagreen;
}

.resume-card__subheading {
    font-weight: 500;
    text-transform: uppercase;
    transition: color 1s;
}

.resume-card__body:hover .resume-card__subheading {
    color: seagreen;
}

.resume-card__date {
    transition: color 1s;
}

.resume-card__body:hover .resume-card__date {
    color:orange;
}

.resume-card__text {
    transition: color 1s;
}

.resume-card__body:hover .resume-card__text {
    color: black;
}

.dark-theme .resume-card__body:hover .resume-card__text {
    color: whitesmoke;
}

.resume-bar {
    width: 90%;
    border-radius: 20px;
    margin-bottom: 12px;
    background-color: whitesmoke;
}

.dark-theme .resume-bar {
    background-color: rgb(30, 30, 30);
}
