.navbar {
    margin-bottom: 15px;
}

.navbar__items {
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: seagreen;
    border-bottom: 4px solid lightgreen;
}

.navbar__item {
    margin-right: 20px;
    text-decoration: none;
    color: seagreen;
    font-size: 1.3rem;
    cursor: pointer;
    display: inline-block;
}


.navbar__item:after {
    display: block;
    content: "";
    background: linear-gradient(
      90deg,
      green,
      lightgreen
    );
    height: 2px;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

.navbar__item:hover:after,
.navbar__item:focus:after {
    width: 100%;
}

@media (max-width: 600px){
    .navbar__active {
        font-size: 1.5rem;
    }

    .navbar__item {
        font-size: 1rem;
    }
}
