.sidebar {
    background-color: white;
    min-width: 225px;
    border-radius: 5px;
    padding: 25px 15px;
    box-shadow: 0 0 0.5px black;
    text-align: center;
    height: 100vh;
    position: sticky;
    top: 0;
}

.dark-theme .sidebar {
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 0.5px whitesmoke;
}

.theme__toggler {
    font-size: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
}

.sidebar__avatar {
    height: 125px;
    width: 125px;
    object-fit: contain;
    border-radius: 50%;
    user-select: none;
}

.sidebar__icon {
    width: 25px;
    height: 25px;
}

.sidebar__name {
    font-family: 'Kaushan Script';
    margin: 20px 0;
    font-size: 1.7rem;
}

.sidebar__name > span {
    color: green;
}

.sidebar__title {
    background-image: linear-gradient(0deg, white 0%, whitesmoke 100%);
    padding-top: 10px;
    border-top: 2px solid lightgreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 80px;
}

.dark-theme .sidebar__title {
    background-image: linear-gradient(0deg, rgb(46, 46, 46) 0%, rgb(100, 100, 100) 100%);
}

.sidebar__resume {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.dark-theme .sidebar__resume {
    border-left: 1px solid rgb(30, 30, 30);
    border-right: 1px solid rgb(30, 30, 30);
    border-bottom: 2px solid rgb(30, 30, 30);
}

.sidebar__btn {
    display: inline-block;
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.sidebar__btn.active {
    color: black !important;
}

.dark-theme .sidebar__btn.active {
    color: whitesmoke !important;
}

.sidebar__btn:after {
    display: block;
    content: "";
    background-color: lightgreen;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .2s ease-in-out;
    transform: translateX(-50%);
}

.sidebar__btn:hover:after,
.sidebar__btn:focus:after {
    width: 100%;
}

.sidebar__profile {
    border-radius: 15px;
    border-left: 2px solid whitesmoke;
    transition: all 0.3s;
    text-align: left;
    padding-left: 20%;
    margin-bottom: 6px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
}

.dark-theme .sidebar__profile {
    border-left: 2px solid rgb(30, 30, 30);
}

.sidebar__profile:hover,
.sidebar__resume:hover {
    background-color: whitesmoke;
    border-color: lightgreen;
}

.dark-theme .sidebar__profile:hover,
.dark-theme .sidebar__resume:hover {
    background-color: rgb(30, 30, 30);
}

.sidebar__contact {
    background-image: linear-gradient(white 0%, whitesmoke 100%);
    opacity: 0.5;
    border-bottom: 2px solid lightgreen;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: grid;
    transition: all 0.3s;
}

.dark-theme .sidebar__contact {
    background-image: linear-gradient(rgb(46, 46, 46) 0%, rgb(30, 30, 30) 100%);
}

.sidebar__contact:hover {
    opacity: 1;
}

.sidebar__location {
    cursor:help;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar_previous {
    color: lightgray;
    transition: color 0.3s;
}

.sidebar_previous:hover {
    color: black;
}

.dark-theme .sidebar_previous {
    color: rgb(46, 46, 46);
}

.dark-theme .sidebar_previous:hover {
    color: whitesmoke;
}
