@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: linear-gradient(white, rgb(210, 210, 210));
    background-attachment: fixed;
    font-family: sans-serif;
    color: rgba(33, 37, 41, 1);
}

.dark-theme body {
    background-image: linear-gradient(rgb(46, 46, 46), rgb(100, 100, 100));
    color: rgba(222, 218, 214, 1);
}

::-webkit-scrollbar {
    width: 7.5px;
    background-color: whitesmoke;
}

.dark-theme ::-webkit-scrollbar {
    background-color: rgb(46, 46, 46);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(green, lightgreen, green);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: darkgray;
    transition: color 0.3s;
}

.dark-theme a {
    color: rgb(100, 100, 100);
}

a:hover {
    text-decoration: none;
    color: black;
}

.dark-theme a:hover {
    color: whitesmoke;
}


.app__container {
    padding-top: 30px;
}

.app__row {
    height: 90vh;
}

.app__main-content {
    background-color: white;
    border-radius: 5px;
    padding: 25px 15px;
    box-shadow: 0 0 0.5px black;
}

.dark-theme .app__main-content {
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 0.5px whitesmoke;
}

.sidebar {
    background-color: white;
    min-width: 225px;
    border-radius: 5px;
    padding: 25px 15px;
    box-shadow: 0 0 0.5px black;
    text-align: center;
    height: 100vh;
}

.dark-theme .sidebar {
    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 0.5px whitesmoke;
}

.sidebar__light_mode {
    display: flex;
    flex-wrap: nowrap;
}

.theme__toggler {
    font-size: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
}

.sidebar__avatar {
    height: 125px;
    width: 125px;
    object-fit: contain;
    border-radius: 50%;
    user-select: none;
}

.sidebar__icon {
    width: 25px;
    height: 25px;
}

.sidebar__name {
    font-family: 'Kaushan Script';
    margin: 20px 0;
    font-size: 1.7rem;
}

.sidebar__name > span {
    color: green;
}

.sidebar__title {
    background-image: linear-gradient(0deg, white 0%, whitesmoke 100%);
    padding-top: 10px;
    border-top: 2px solid lightgreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 80px;
}

.dark-theme .sidebar__title {
    background-image: linear-gradient(0deg, rgb(46, 46, 46) 0%, rgb(100, 100, 100) 100%);
}

.sidebar__resume {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.dark-theme .sidebar__resume {
    border-left: 1px solid rgb(30, 30, 30);
    border-right: 1px solid rgb(30, 30, 30);
    border-bottom: 2px solid rgb(30, 30, 30);
}

.sidebar__btn {
    display: inline-block;
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.sidebar__btn.active {
    color: black !important;
}

.sidebar__btn.active {
    color: whitesmoke !important;
}

.sidebar__btn:after {
    display: block;
    content: "";
    background-color: lightgreen;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .2s ease-in-out;
    transform: translateX(-50%);
}

.sidebar__btn:hover:after,
.sidebar__btn:focus:after {
    width: 100%;
}

.sidebar__profile {
    border-radius: 15px;
    border-left: 2px solid whitesmoke;
    transition: all 0.3s;
    text-align: left;
    padding-left: 20%;
    margin-bottom: 6px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
}

.dark-theme .sidebar__profile {
    border-left: 2px solid rgb(30, 30, 30);
}

.sidebar__profile:hover,
.sidebar__resume:hover {
    background-color: whitesmoke;
    border-color: lightgreen;
}

.dark-theme .sidebar__profile:hover,
.dark-theme .sidebar__resume:hover {
    background-color: rgb(30, 30, 30);
}

.sidebar__contact {
    background-image: linear-gradient(white 0%, whitesmoke 100%);
    opacity: 0.5;
    border-bottom: 2px solid lightgreen;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: grid;
    transition: all 0.3s;
}

.dark-theme .sidebar__contact {
    background-image: linear-gradient(rgb(46, 46, 46) 0%, rgb(30, 30, 30) 100%);
}

.sidebar__contact:hover {
    opacity: 1;
}

.sidebar__location {
    cursor:help;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar_previous {
    color: lightgray;
    transition: color 0.3s;
}

.sidebar_previous:hover {
    color: black;
}

.dark-theme .sidebar_previous {
    color: rgb(46, 46, 46);
}

.dark-theme .sidebar_previous:hover {
    color: whitesmoke;
}

@media(max-width:991px) {
    .app__main-content {
        margin: 30px 0;
    }
}

.navbar {
    margin-bottom: 15px;
}

.navbar__items {
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: seagreen;
    border-bottom: 4px solid lightgreen;
}

.navbar__item {
    margin-right: 20px;
    text-decoration: none;
    color: seagreen;
    font-size: 1.3rem;
    cursor: pointer;
    display: inline-block;
}


.navbar__item:after {
    display: block;
    content: "";
    background: linear-gradient(
      90deg,
      green,
      lightgreen
    );
    height: 2px;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

.navbar__item:hover:after,
.navbar__item:focus:after {
    width: 100%;
}

.about {
    padding: 20px;
    margin: -35px;
}

.about__intro {
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-style: italic;
    text-align: center;
}

.about__container {
    background-color: white;
    padding: 20px;
}

.dark-theme .about__container {
    background-color: rgb(46, 46, 46);
}

.skill-card {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.dark-theme .skill-card {
    background-color: rgb(30, 30, 30);
}

.skill-card__icon {
    width: 40px;
    height: 40px;
    margin-left:-20px;
}

.skill-card__title {
    position: absolute;
    top: 10px;
    right: 30px;
    left:auto;
    color: seagreen;
    font-weight: 700;
}

.skill-card__content {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
}

.resume-card__body {
    margin: 15px 25px;
    padding: 10px 15px;
    box-shadow: none;
    transition: all 0.5s;
    color: grey;
}

.resume-card__body:hover{
    box-shadow: 0 0 0.25vh 0.25vw lightgrey;
}

.dark-theme resume-card__body:hover {
    box-shadow: 0 0 0.25vh 0.25vw rgb(46, 46, 46);
}

.resume-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: seagreen;
    text-align: center;
}

.resume-card__heading {
    font-weight: 700;
    color: seagreen;
    text-transform: uppercase;
    transition: color 1s;
}

.resume-card__body:hover .resume-card__heading {
    color: green;
}

.resume-card__subheading {
    font-weight: 500;
    text-transform: uppercase;
    transition: color 1s;
}

.resume-card__body:hover .resume-card__subheading {
    color: seagreen;
}

.resume-card__date {
    transition: color 1s;
}

.resume-card__body:hover .resume-card__date {
    color:orange;
}

.resume-card__text {
    transition: color 1s;
}

.resume-card__body:hover .resume-card__text {
    color: black;
}

.dark-theme .resume-card__body:hover .resume-card__text {
    color: whitesmoke;
}

.ResumeBar {
    width: 90%;
    border-radius: 20px;
    margin-bottom: 12px;
    background-color: whitesmoke;
}

.dark-theme .ResumeBar {
    background-color: rgb(30, 30, 30);
}

.bar__icon {
    width: 15px;
    height: 15px;
}

.bar__wrapper {
    background-image: linear-gradient(90deg, lightgreen 50%, seagreen);
    border-radius: 20px;
    padding: 4px 14px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: Loading 8s both infinite ease-in;
}

.dark-theme .bar__wrapper {
    color: rgb(46, 46, 46);
}

@keyframes Loading {
    0% {
        max-width: 50%;
        background-image: linear-gradient(90deg, black 50%, red);
    }
    20% {
        max-width: 75%;
        background-image: linear-gradient(90deg, orange 50%, lightyellow);
    }
    40% {
        max-width: 100%;
        background-image: linear-gradient(90deg, seagreen 50%, lightgreen);
    }
    94% {
        background-image: linear-gradient(90deg, seagreen 50%, lightgreen);
    }
    95% {
        max-width: 100%;
        background-image: linear-gradient(90deg, red 50%, seagreen);
    }
    96% {
        background-image: linear-gradient(90deg, seagreen 50%, lightgreen);
    }
    97% {
        background-image: linear-gradient(90deg, red 50%, white);
    }
    98% {
        background-image: linear-gradient(90deg, white 50%, red);
    }
    99% {
        background-image: linear-gradient(90deg, red 50%, red);
    }
    100% {
        max-width: 50%;
    }
}

.projects {
    height: 100vh;
    overflow-y: auto;
}

.projectCard__wrapper {
    width:100%;
    height:100%;
    margin-bottom: 25px;
    border-radius: 20px;
}

.projectCard__video {
    width: 100%;
    border-radius: 5px;
    border: 1px solid seagreen;
}

.projectCard__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.projectCard__context {
    color: lightgrey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark-theme .projectCard__context {
    color: rgb(46, 46, 46);
}

.projectCard__description {
    text-align: center;
    color: seagreen;
    margin-top: 5px;
    font-weight: 600;
}

.projects__navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding-bottom: 10px;
}

.dark-theme .projects__navbar {
    background-color: rgb(46, 46, 46);
}

.projects__navbar .sidebar__btn {
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    color: darkgray;
    transition: color .3s ease-in-out;
}

.dark-theme .projects__navbar .sidebar__btn {
    color: rgb(100, 100, 100);
}

.projects__navbar .sidebar__btn:hover {
    color: black;
}

.dark-theme .projects__navbar .sidebar__btn:hover {
    color: whitesmoke;
}

@media (max-width: 600px){
    .app__main-content {
        margin-right: 10px;
        margin-left: 10px;
    }

    .navbar__active {
        font-size: 1.5rem;
    }

    .navbar__item {
        font-size: 1rem;
    }
}
