@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: linear-gradient(white, seagreen);
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: darkgray;
    transition: color 0.3s;
}

a:hover {
    text-decoration: none;
    color: black;
}

.app__container {
    padding-top: 30px;
}

.app__row {
    height: 90vh;
}

.app__main-content {
    background-color: white;
    border-radius: 5px;
    padding: 25px 15px;
    box-shadow: 0 0 1px black;
}

.sidebar {
    background-color: white;
    height: 100%;
    min-width: 225px;
    border-radius: 5px;
    padding: 25px 15px;
    box-shadow: 0 0 1px black;
    text-align: center;
    height: 80vh;
}

.sidebar__avatar {
    height: 96px;
    width: 96px;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar__icon {
    width: 25px;
    height: 25px;
}

.sidebar__name {
    font-family: 'Kaushan Script';
    margin: 20px 0;
    font-size: 1.7rem;
}

.sidebar__name > span {
    color: green;
}

.sidebar__title {
    background-image: linear-gradient(0deg, white 0%, whitesmoke 100%);
    border-top: 2px solid lightgreen;
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 80px;
}

.sidebar__item {
    margin-bottom: 6px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
}

.sidebar__resume {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid whitesmoke;
    transition: all 0.3s;
}


.sidebar__contact {
    margin: 20px 0;
}

.sidebar__btn {
    display: block;
    text-decoration: none;
    background-image: currentColor;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5%;
    transition: background-size 0.5s;
}

.sidebar__btn:hover {
    background-size: 50% 5%;
    cursor: pointer;
}

.sidebar__email {
    background-image: linear-gradient( white 0%, lightgreen 20%, seagreen 75%, whitesmoke 100%);
}

.sidebar__email:hover {
    background-image: linear-gradient(whitesmoke 0%, lightgreen 10%, seagreen 75%, green 100%);
}

.sidebar__prev-version {
    background-image: linear-gradient(0deg, white 0%, lightgreen 20%, seagreen 75%, whitesmoke 100%);
}

.sidebar__prev-version:hover {
    background-image: linear-gradient(0deg, whitesmoke 0%, lightgreen 10%, seagreen 75%, green 100%);
}

.sidebar__github {
    border-radius: 15px;
    border: 2px solid whitesmoke;
    transition: all 0.3s;
}

.sidebar__github:hover,
.sidebar__resume:hover {
    background-color: whitesmoke;
    border-color: lightgreen;
    color: black;
}

.sidebar__contact {
    background-image: linear-gradient(white 0%, whitesmoke 100%);
    border-bottom: 2px solid lightgreen;
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s;
}

.sidebar__contact:hover {
    border-top: 2px solid lightgreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media(max-width:991px){
    .app__main-content {
        margin: 30px 0;
    }
}

.navbar__items {
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: seagreen;
    border-bottom: 4px solid lightgreen;
}

.navbar__item {
    margin-right: 20px;
    text-decoration: none;
    color: seagreen;
    font-size: 1.3rem;
    cursor: pointer;
    display: inline-block;
}


.navbar__item:after {
    display: block;
    content: "";
    background: linear-gradient(
      90deg,
      green,
      lightgreen
    );
    height: 2px;
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.navbar__item:hover:after,
.navbar__item:focus:after {
    width: 100%;
}

.about {
    padding: 20px;
    margin: -35px;
}

.about__intro {
    font-size: 1.1rem;
    padding: 20px;
    margin: 10px 0;
}

.about__container {
    background-color: whitesmoke;
    padding: 20px;
}

.about__heading {
    font-size: 25px;
    font-weight: 700;
    color: green;
    margin-left: 50px;
}

.skill-card {
    background-color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.skill-card__icon {
    width: 40px;
    height: 40px;
}

.skill_card-body {
    margin-left: 15px;
}

.skill-card__content {

}